{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #282626; padding: 20px; margin-right: auto; ">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 24px; color: white;">TCG Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link name-link" href="#" style="font-size: 20px; font-weight: bold; font-family: 'cursive'; color: white;">Name: {{ name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link class-link" href="#" style="font-size: 20px; font-weight: bold; font-family: 'cursive'; color: white;">Class: {{ class }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout-link" href="{% url 'main:logout' %}" style="font-size: 20px; font-weight: bold; font-family: 'cursive'; color: white;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="text" class="form-control" id="amount" name="amount"></input>
                        </div>                                          
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container mt-5">
        <h1 class="mb-4" style="color: white;">Products</h1>
    
        <div id="product_container" class="row"></div>

        <p class="mt-4" style="color: white;">Kamu menyimpan {{ products|length }} item pada aplikasi ini.</p>

        <div class="mt-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="addProductButton">Add Product by AJAX</button>
        </div>

        <h5 class="mt-4" style="color: white;">Sesi terakhir login: {{ last_login }}</h5>

        <div class="mt-4">
            <a href="{% url 'main:logout' %}" class="btn btn-secondary">Logout</a>
        </div>
    </div>

    <style>
        body {
            background-color: rgb(31, 8, 31);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    
        .product-container {
            display: flex;
            flex-wrap: wrap;
            margin: -10px; 
        }
    
        .card {
            background-color: #f8f9fa;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 10px;
            max-width: 250px; 
        }
        
        .card .card-body {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 10px;       
            max-height: fit-content;
        }
        
        .card-title {
            font-weight: bold;
            font-size: 16px; 
            margin: 10px 0;
        }
        
        .card-text {
            color: #333;
            margin: 10px 0;
            font-size: 14px;
        }
        
        .card-img {
            max-width: 100%;
            height: auto;
            border-radius: 8px 8px 0 0;
        }
        
        .btn-primary,
        .btn-danger {
            margin-right: 5px;
        }
        
        .last-card {
            background-color: rgb(182, 6, 103);
        }


        
    </style>

    <script>

        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }

        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)
            
            document.getElementById("form").reset();
            return false;
        }
        

        function refreshProducts() {
            fetch('/get-product-json/')
                .then(response => response.json())
                .then(data => {
                    const productContainer = document.getElementById("product_container");
                    productContainer.innerHTML = '';
        
                    data.forEach((product, index) => {
                        const newProductElement = document.createElement('div');
                        newProductElement.className = "card" + (index === data.length - 1 ? ' last-card' : '');
        
                        newProductElement.innerHTML = `
                            <img src="https://upload.wikimedia.org/wikipedia/en/2/2b/Yugioh_Card_Back.jpg" alt="The back side of a card" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">${product.name}</h5>
                                <p class="card-text">${product.description}</p>
                                <p class="card-text">${product.price}</p>
                                <p class="card-text">${product.amount}</p>
                                <button onclick="deleteProduct(${product.id})" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        `;
        
                        productContainer.appendChild(newProductElement);
                    });
                });
        }
        

        document.addEventListener('DOMContentLoaded', function() {
            refreshProducts();
        });

        
       

        function deleteProduct(id) {
            const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
        
            fetch(`/delete-product-ajax/${id}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrfToken,
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    refreshProducts();
                } else {
                    alert('Something went wrong!');                
                }
            });
        }

        document.getElementById("button_add").onclick = addProduct;

    </script>
{% endblock content %}