<head>
    <style>

        h1, h2, p {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-family: Monaco, monospace;
            font-size: 3em;
        }

        p {
            font-family: Arial, sans-serif;
            font-size : 1em;
        }

        h5{
            font-family: Times New Roman, Times;
            font-size : 2em;
        }
    </style>
</head>

<h1>{{title}}</h1>

<img src="https://upload.wikimedia.org/wikipedia/en/2/2b/Yugioh_Card_Back.jpg" alt="The back side of a card">

<h5>Name: </h5>
<p>{{ name }}<p>    
<h5>Class: </h5>
<p>{{ class }}<p>
...